@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --product-margin-top: 7rem;
  --product-margin-bottom: 0rem;
  --product-margin-left: 20rem;
  --product-margin-right: 20rem;

  --product-padding-top: 3rem;
  --product-padding-bottom: 3rem;
  --product-padding-left: 2rem;
  --product-padding-right: 2rem;
}

.product {
  font-family: "Poppins", sans-serif;
  margin-top: var(--product-margin-top);
  margin-bottom: var(--product-margin-bottom);
  margin-left: var(--product-margin-left);
  margin-right: var(--product-margin-right);
  padding-top: var(--product-padding-top);
  padding-bottom: var(--product-padding-bottom);
  padding-left: var(--product-padding-left);
  padding-right: var(--product-padding-right);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: calc(100% - var(--product-margin-left) - var(--product-margin-right));
  min-height: calc(100vh - var(--product-margin-top));
  background-color: white;
}

.product__main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem;
}
