.modal__close {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.modal__heading {
  font-size: 1.2rem;
  font-weight: 600;
}
.modal__list {
  padding: 0;
}
.modal__list_item_radio {
  list-style-type: none;
}
