.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  margin: 0.25rem 0.125rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  position: relative;
  margin-left: 1rem;
}

.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.btn-primary:hover {
  background-color: #0b5ed7;
  border-color: #0a58ca;
}
.btn-primary:focus {
  outline: none;
  box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 50%);
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn-secondary:hover {
  color: #fff;
  background-color: #5c636a;
  border-color: #565e64;
}
.btn-secondary:focus {
  outline: none;
  color: #fff;
  background-color: #5c636a;
  border-color: #565e64;
  box-shadow: 0 0 0 0.25rem rgb(130 138 145 / 50%);
}

.btn-outline-secondary {
  color: #6c757d;
  background-color: #fff;
  border-color: #6c757d;
}
.btn-outline-secondary:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn-outline-secondary:focus {
  outline: none;
  box-shadow: 0 0 0 0.25rem rgb(108 117 125 / 50%);
}
