.badge {
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  margin: 0px;
  padding: 2px 6px;
  border-radius: 3px;
  margin-right: 5px;
}

.badge-product {
  color: #fff;
  background-color: #f3597e;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  padding-right: 10px;
}

.badge-rating {
  color: #fff;
  background-color: #388e3c;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.badge-count {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 5px;
  width: 15px;
  height: 15px;
  position: absolute;
  top: -15px;
  right: -15px;
  color: #fff;
  background-color: rgb(228, 93, 15);
}
.badge-star {
  margin-left: 3px;
  max-width: 12px;
  max-height: 12px;
}
