@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.App {
  border: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background-color: rgb(241, 243, 246);
}
