@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --wishlist-margin-top: 7rem;
  --wishlist-margin-bottom: 0rem;
  --wishlist-margin-left: 20rem;
  --wishlist-margin-right: 20rem;

  --wishlist-padding-top: 3rem;
  --wishlist-padding-bottom: 3rem;
  --wishlist-padding-left: 2rem;
  --wishlist-padding-right: 2rem;
}

.wishlist {
  font-family: "Poppins", sans-serif;
  margin-top: var(--wishlist-margin-top);
  margin-bottom: var(--wishlist-margin-bottom);
  margin-left: var(--wishlist-margin-left);
  margin-right: var(--wishlist-margin-right);
  padding-top: var(--wishlist-padding-top);
  padding-bottom: var(--wishlist-padding-bottom);
  padding-left: var(--wishlist-padding-left);
  padding-right: var(--wishlist-padding-right);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: calc(
    100% - var(--wishlist-margin-left) - var(--wishlist-margin-right)
  );
  min-height: calc(100vh - var(--wishlist-margin-top));
  background-color: white;
}
