.card {
  cursor: pointer;
  border: 0px solid transparent;
  border-radius: 4px;
  box-shadow: 0 2px 3px 0 rgb(0 0 0 / 10%);
  background-color: pink;
  margin: 0.5rem;
}
.card-shadow:hover {
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 30%);
  transition: box-shadow linear 0.3s;
}
.card-img-zoom:hover img {
  transform: scale(1.1);
}
.card a {
  text-decoration: none;
  width: 100%;
  height: 100%;
}
.card img {
  transition: transform 0.5s ease;
  width: 100%;
  height: 100%;
}
.card-img {
  overflow: hidden;
}

/*---OFFER CARDS---*/
/*TYPE-1*/
.card-offer-type1 {
  width: 270px;
  height: 380px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.card-offer-type1 .card-img {
  width: 270px;
  height: 270px;
}
.card-details {
  padding: 22px 4px;
  height: 66px;
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}
.card-title {
  font-weight: 600;
  font-family: "Source Sans Pro", sans-serif;
  color: #3f414d;
  text-align: center;
}
.card-discount {
  padding: 2px;
  font-weight: 600;
  font-family: "Source Sans Pro", sans-serif;
  color: #ca371d;
}
.card-description {
  color: #3f414d;
  font-size: 15px;
  font-family: "Source Sans Pro", sans-serif;
}

/*TYPE-2*/
.card-offer-type2 {
  width: 560px;
  height: 405px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.card-offer-type2 .card-img {
  width: 560px;
  height: 315px;
}

/*TYPE-2*/
.card-offer-type3 {
  width: 560px;
  height: 373px;
  position: relative;
}
.card-offer-type3 .card-img {
  width: 100%;
  height: 100%;
}
.card-offer-type3 .card-details {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  height: 50px;
  padding: 20px 5px;
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 5px;
}

/*--- Product Card ---*/
.prod-card {
  background: #fff;
  position: relative;
  overflow: hidden;
  width: 210px;
}
.prod-card-top {
  position: relative;
}
.prod-card-details {
  padding: 0 10px;
  height: 100%;
  margin-top: 12px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}
.btn-wishlist-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 4px;
  right: 4px;
  background-color: #bcbec2;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.prod-badge-wrapper {
  position: absolute;
  top: 15px;
  left: 0px;
}
.prod-card-rating-wrapper {
  position: absolute;
  bottom: -10px;
  right: 0px;
}
.prod-card .card-img {
  width: 210px;
  height: 280px;
}
.prod-card-details .card-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #282c3f;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.prod-card-details .card-description {
  color: #535766;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 400;
  width: calc(100% - 10px);
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.prod-card-details .card-price {
  margin: 10px 0px 6px 0px;
  line-height: 15px;
}
.card-price-curr {
  font-size: 14px;
  color: #282c3f;
  font-weight: 500;
}
.card-price-orig {
  text-decoration: line-through;
  color: #7e818c;
  font-weight: 400;
  margin-left: 5px;
  font-size: 12px;
}
.card-discountPercentage {
  color: #ff905a;
  font-weight: 400;
  font-size: 12px;
  margin-left: 5px;
}
